<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mitadt.newui">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewUi"
        android:usesCleartextTraffic="true">
        <activity android:name=".VoiceAssistant.VoiceAssistant"></activity>
        <activity
            android:name=".DiscussionForum.ViewComments"
            android:label="View Comments" />
        <activity android:name=".DiscussionForum.AddAnswer" />
        <activity
            android:name=".DiscussionForum.ViewAllQuestions"
            android:label="View All Questions" />
        <activity
            android:name=".DiscussionForum.AddQuestion"
            android:label="Post a Question" />
        <activity
            android:name=".ComputerScience.OpenAdsaPdf"
            android:label="Open Pdf"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewAdsaBooks"
            android:label="View Adsa Books and Notes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComputerScience.JoinAdsaLecture"
            android:colorMode="hdr"
            android:label="Join ADSA Lecture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComputerScience.ScheduleMeetingAdsa"
            android:screenOrientation="portrait" />
        <activity android:name=".ComputerScience.DccnBooks" />
        <activity
            android:name=".ComputerScience.Adsa_Books"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectOptionsRevision"
            android:label="Choose Portal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RateApp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentProfile"
            android:screenOrientation="portrait" />
        <activity android:name=".OtpActivity.testOtpActivity" />
        <activity android:name=".OtpActivity.testPhoneNum" />
        <activity
            android:name=".FacultyApp.FacultyDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentTwoFactorAuthentication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyTwoFactorAuthentication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TwoFactorAuthentication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.FacultyRegistration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AdminDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.UniversityPortal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyApp.FacultyLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogInOrSignUp"
            android:screenOrientation="portrait" />
        <activity android:name=".Mechatronics.MechatronicsSubjects" />
        <activity
            android:name=".Mechanical.MechanicalSubjects"
            android:label="Mechanical"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ENTC.ElectronicsSubjects"
            android:label="Eletronics and Tele-communication"
            android:screenOrientation="portrait" />
        <activity android:name=".ComputerScience.GermanTeachers" />
        <activity android:name=".ComputerScience.IcttTeachers" />
        <activity android:name=".ComputerScience.SepmTeachers" />
        <activity android:name=".ComputerScience.TocTeachers" />
        <activity android:name=".ComputerScience.DccnTeachers" />
        <activity android:name=".ComputerScience.AdsaTeachers" />
        <activity
            android:name=".InfoTech.InformationTechnology"
            android:label="Information Technology"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AeroSpace.AeroSpace"
            android:label="Aerospace"
            android:screenOrientation="portrait" />
        <activity android:name=".otpAfterRegister" />
        <activity
            android:name=".ResetPassword"
            android:screenOrientation="portrait" />
        <activity android:name=".changePassword" />
        <activity
            android:name=".ForgotPass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerifyOtp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.NewUi.NoActionBar" />
        <activity android:name=".Register" />
        <activity
            android:name=".RegisterPortal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login_design"
            android:label="@string/title_activity_login_design"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewUi.NoActionBar" />
        <activity
            android:name=".LoginDesign"
            android:label="@string/title_activity_login_design"
            android:theme="@style/Theme.NewUi.NoActionBar" />
        <activity
            android:name=".MainPage"
            android:label="MainPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseDomain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubjectChoice"
            android:label="Computer Science"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>