<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mitadt.newui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewUi">
        <activity android:name=".LogInOrSignUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mechatronics.MechatronicsSubjects" />
        <activity android:name=".Mechanical.MechanicalSubjects" />
        <activity android:name=".ENTC.ElectronicsSubjects" />
        <activity android:name=".ComputerScience.GermanTeachers" />
        <activity android:name=".ComputerScience.IcttTeachers" />
        <activity android:name=".ComputerScience.SepmTeachers" />
        <activity android:name=".ComputerScience.TocTeachers" />
        <activity android:name=".ComputerScience.DccnTeachers" />
        <activity android:name=".ComputerScience.AdsaTeachers" />
        <activity android:name=".InfoTech.InformationTechnology" />
        <activity android:name=".AeroSpace.AeroSpace" />
        <activity android:name=".otpAfterRegister" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".changePassword" />
        <activity android:name=".ForgotPass" />
        <activity android:name=".VerifyOtp" />
        <activity
            android:name=".login"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.NewUi.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".RegisterPortal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_design"
            android:label="@string/title_activity_login_design"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NewUi.NoActionBar" />
        <activity
            android:name=".LoginDesign"
            android:label="@string/title_activity_login_design"
            android:theme="@style/Theme.NewUi.NoActionBar" />
        <activity
            android:name=".MainPage"
            android:label="MainPage" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseDomain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SubjectChoice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>